body{
height: 100vh;
width: 100%;
background-color: #5E5A5A;
}


.Navbar-container{
  display: flex;
  position: sticky;
  top: 0%;
  z-index: 2;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: 85px;
}

.Navbar-dropmenu{
  display: flex;
  width: 100%;
  justify-content: end;
}

.Navbar-holder{
  display: flex;
  width: 100%;
  height: 85px;
}

.drop-menu-Show{
  display: flex;
  flex-direction: column;
  z-index: 1;
  transition: 1s;
  align-items: center;
  justify-content: center;
  background-color: #141414;
}

.Home-component{
  height: 100%;
  
}
.Home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}



.highlightDiv:hover{
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  background-color: rgb(164, 55, 55);
}
.highlightDiv:hover > h2{
  color: whitesmoke;
}
h2{
  color: red;
}

.test{
  width: 100%;
}

/* This is PRODUCTLIST JSX COMPONENT */
/* ///////////////////////////////////////// */
.productlist-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin-top: 20px;
  margin-bottom: 120px;
}
.All-products{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid;
  background-color: #141414;
  border-radius: 20px;
}

/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */

/* This is PRODUCT Selection JSX COMPONENT */

.MenySele-container{
  display: flex;
  justify-content: center;
  gap: 80px;
}

.btnSel{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 40px;
  width: 120px;
}



.TestFunction{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid black;
  position:absolute;
  width: 600px;
  height: 300px;
  top:40%;
  left:35%;
  background-color: whitesmoke;
  border-radius: 40px;
  z-index: 10;
}


.Order-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1000px;
  /* transform: translateX(50%); */
  margin-top: 200px;
  background-color: #1D1717;
}

.Orders-container{
  display:flex;
  align-items: center;
  border-radius: 10px;
  border:solid;
  cursor: pointer;
  background-color:#D9D9D9;
  justify-Content:space-between;
  
}

.Orders-container:hover{
  display:flex;
  align-items: center;
  border:solid;
  cursor: pointer;
  background-color:rgb(165, 144, 144);
  justify-Content:space-between;
}

.Cancel-order{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(89, 77, 77, 0.2);
  height: 96px;
  width: 40px;
  cursor: pointer;
}

.Cancel-order:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 96px;
  width: 40px;
  cursor: pointer;
}

.allOrders{
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.Detail-container{
  display: flex;
  position: sticky;
  top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 300px;
  width: 200px;
  background-color: white;
  
}





.Pay-logo{
  width: 100px;
  height: 100px;
  border-radius: 40px;
  cursor: pointer;
}

.add-btn{
  margin-top: 10px;
  border-radius: 5px;
  width: 120px;
  height: 30px;
}
.add-btn:hover{
  
  color: blue;
  background-color: rgb(168, 236, 7);
  transition: ease-in 0.2s;
  
}

.reciepStyle{
  margin: 0;
}